<footer class="row">
  <div class="large-12 columns">
    <hr />
    <div class="row">
      <div class="large-6 columns">© Copyright no one at all. Go to town.</div>
      <div class="large-6 columns"><img src="http://placehold.it/500x60&text=[links]"></div>
    </div>
  </div>
</footer>
