<nav class='top-bar'>
  <ul class="title-area">
    <li class="name"><h1><a>Quarterly Dinner</a></h1></li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li><a href="">Login</a></li>
    </ul>
  </section>
</nav>

<div class="row">
  <div class="large-9 columns"><h1>Quarterly Dinner</h1></div>
  <div class="large-3 columns"><img src="/assets/kabisa_lizard.png"></div>
</div>
<div class="row">
  <div class="large-8 columns"><img src="http://placehold.it/700x240&text=[next diner]"></div>
  <div class="large-4 columns"><img src="http://placehold.it/400x240&text=[new...]"></div>
</div>
<div class="row">
  <div class="row">
    <div class="large-12 columns">
      <ul class="breadcrumbs">
        <li><a href="#">All</a></li>
        <li><a href="#">Upcoming</a></li>
        <li class='current'><a href="#">Past</a></li>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="large-3 columns">
      <div class="panel">
        <h5>Q3</h5>
        <p>Lorem Ipsum</p>
        <a class="small button" href="#">Details</a>
      </div>
    </div>
    <div class="large-3 columns">
      <div class="panel">
        <h5>Q4</h5>
        <p>Lorem Ipsum</p>
        <a class="small button" href="#">Details</a>
      </div>
    </div>
    <div class="large-3 columns">
      <div class="panel">
        <h5>Q1</h5>
        <p>Lorem Ipsum</p>
        <a class="small button" href="#">Details</a>
      </div>
    </div>
    <div class="large-3 columns">
      <div class="panel">
        <h5>Q2</h5>
        <p>Lorem Ipsum</p>
        <a class="small button" href="#">Details</a>
      </div>
    </div>
  </div>
</div>
<footer class="row">
  <div class="large-12 columns">
    <hr />
    <div class="row">
      <div class="large-6 columns">© Copyright no one at all. Go to town.</div>
      <div class="large-6 columns"><img src="http://placehold.it/500x60&text=[links]"></div>
    </div>
  </div>

</footer>
