<div class='row'>
  <div class='large-9 columns'><h1>Quarterly Dinner</h1></div>
  <div class='large-3 columns'><img src='/assets/kabisa_lizard.png'></div>
</div>
<div class='row'>
  <div class='large-8 columns'>
    <div class='panel'>
      {{map-canvas dinner=this}}
    </div>
  </div>
  <div class='large-4 columns'><img src='http://placehold.it/400x240&text=[new...]'></div>
</div>
