<div class='row'>
  <div class='large-9 columns'><h1>Quarterly Dinner</h1></div>
  <div class='large-3 columns'><img src='/assets/kabisa_lizard.png'></div>
</div>
<div class='row'>
  <div class='large-8 columns'>
    <div class='panel'>
      <h2>Next dinner...</h2>
      <p>Lorem Ipsum</p>
    </div>
  </div>
  <div class='large-4 columns'><img src='http://placehold.it/400x240&text=[new...]'></div>
</div>
<div class='row'>
  <div class='large-12 columns'>
    <ul class='breadcrumbs'>
      <li><a href='#'>All</a></li>
      <li><a href='#'>Upcoming</a></li>
      <li class='current'><a href='#'>Past</a></li>
    </nav>
  </div>
</div>
<div class='row'>
  {{#each itemController='dinnerItem'}}
    <div class='large-3 columns dinner-tile'>
      <div class='panel'>
        <h4 class='venue subheader'>{{venue}}</h4>
        <h4>{{formattedStartTime}}</h4>
        <p>{{formattedStartDate}}</p>
        <a class='small button' href='#'>Details</a>
      </div>
    </div>
  {{/each}}
</div>
