<div class='row'>
  {{#each itemController='dinnerItem'}}
    <div class='large-3 columns dinner-tile'>
      <div class='panel'>
        <h4 class='venue subheader'>{{venue}}</h4>
        <h4>{{formattedStartTime}}</h4>
        <p>{{formattedStartDate}}</p>
        {{#link-to 'dinner' this class='tiny secondary button'}}Details{{/link-to}}
      </div>
    </div>
  {{/each}}
</div>

