<div class='row'>
  {{#each itemController='dinnerItem'}}
    <div class='large-3 columns dinner-tile'>
      <div class='panel'>
        <h4 class='venue subheader'>{{venue}}</h4>
        <h4>{{formattedStartTime}}</h4>
        <p>{{formattedStartDate}}</p>
        <a class='small button' href='#'>Details</a>
      </div>
    </div>
  {{/each}}
</div>

